BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
PointerAlignment: Left
NamespaceIndentation: All
IndentWidth: 4
AccessModifierOffset: -4
FixNamespaceComments: false
AlwaysBreakTemplateDeclarations: Yes
